nav li{
  list-style-type: none;
  display: inline;
  font-size: 150%;
}
nav{
    border-bottom: thin solid;
}
nav li a{
  text-decoration: none;
  color: blue;
}
main{
  border-bottom: 0.25em solid;
  font-size: 110%;
}
main h1{ 
  padding: 1em;
  border-bottom: 0.25em solid;
  font-size: 300%;
}
main h1 span{
  font-size: 200%;
  color: grey;
  font-style: italic;
}
ul
{
list-style-type: none;
}

section li a{
  text-decoration: none;
}
main p a{
  text-decoration: none;

header ul{
  border-bottom: thin solid black;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

